module.exports = {
  apps: [
    {
      name: 'yjs-server',
      script: './node_modules/.bin/y-websocket',
      env: {
        HOST: '127.0.0.1',
        PORT: 6010,
        YPERSISTENCE: './data',
      },
    },
  ],
};

